<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8" />
    <title>在线编辑文档</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/editor_md/examples/css/style.css" />
    <link rel="stylesheet" href="/editor_md/css/editormd.css" />
    <link rel="stylesheet" href="/css/doc.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<div id="layout">
    <div class="doc-header">
        <div class="doc-h1">
            <h1><%=doc.title%></h1>
            <small>上次修改时间:<%=doc.savetime%></small>
            <small id="user"></small>
        </div>
        <div class="doc-save">
            <button class="btn-white" onclick="window.location.href = '/docs'">退出</button>
            <button class="btn-green lab-issue-btn" onclick="submitDoc()">保存并退出</button>
        </div>

    </div>
    <div id="test-editormd" onkeyup="change()">
        <textarea id="doc-md" ><%=doc.md%></textarea>
    </div>
</div>

<script src="/editor_md/examples/js/jquery.min.js"></script>
<script src="/editor_md/editormd.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
    var testEditor;
    var socket = io.connect('http://demozhan.com:3000');
    var doc = $("#doc-md")[0];

    $(function() {
        // You can custom @link base url.
        // editormd.urls.atLinkBase = "https://github.com/";
        var username = "<%=user.username%>";
        socket.emit('join', username);

        testEditor = editormd("test-editormd", {
            width     : "100%",
            height    : 720,
            toc       : true,
            //atLink    : false,    // disable @link
            //emailLink : false,    // disable email address auto link
            todoList  : true,
            path      : './editor_md/lib/'
        });
    });



    function submitDoc(){
        var md = $('#doc-md')[0].value;
        var id = "<%=doc._id%>";
        $.ajax({url:'/submitDoc',type:'POST',data:{
            id:id,
            md:md,
        },success: function (data) {
            if(data.state == -1){
                alert("提交失败，请重新提交！");
            }else if(data.state == 1){
                window.location.href = "/docs";
            }
        }});
    }

    function change(){
        var md = $('#doc-md')[0].value;
        socket.emit('message',md);
    }
    // 监听消息
    socket.on('md', function (userName, msg) {
        $('#user')[0].innerHTML = "正在编辑的用户：" + userName;
        $("#doc-md")[0].innerText = msg;
        testEditor.setMarkdown(msg);
    });
</script>
</body>
</html>