<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="/img/favicon.png">
    <link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/docs.css"/>
    <title>共享文档</title>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">HINOC</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/issues">issue</a></li>
                <li><a href="/docs">共享文档</a></li>
                <li><a href="/file">文件列表</a></li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">博客系统</a></li>
                <li><a href="#"><%=user.username%></a></li>
                <li><a href="/logout">退出</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid docs">
    <div class="docs-create">
        <button class="btn-green" id="create-doc">创建文档</button>
    </div>
    <% docs.forEach(function(doc){ %>
    <div class="docs-item" onclick="window.location.href = '/doc?id=<%=doc._id%>'">
        <h4><%=doc.title%></h4>
        <small>创建者：<%=doc.master%></small>
        <div class="docs-preview">
            <%=doc.md%>
        </div>
    </div>
    <% }) %>
</div>
<a id="scrollUp" href="#top" title="">
    <span class="glyphicon glyphicon-menu-up"></span>
</a>
<footer>
    <div>
        <p>© zhanfang 2015</p>
        <p>陕ICP备15014665号-1</p>
    </div>
</footer>

<script src="http://cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="http://cdn.bootcss.com/markdown.js/0.5.0/markdown.min.js"></script>
<script src="/js/common.js"></script>
<script >

    $(document).ready(function(){
        var temp = "<div class='zf-modal' style='border-top-left-radius: 10px;border-top-right-radius: 10px;background:rgba(255,255,255,1)'><div class='modal-header' style='padding: 9px 15px;border-bottom: 1px solid #eee'><h3 style='margin:0'>创建共享文档</h3></div><div class='modal-main' style='padding:15px'><input id='title' type='text' name='username' placeholder='标题' style='display:block;width:500px;margin: 10px 0px;padding: 10px 12px;border:1px solid #ccc;border-radius: 4px;'></div></div><div class='modal-footer' style='padding:14px 15px 15px;background-color: #f5f5f5;border-top:1px solid #ddd;box-shadow: inset 0 1px 0 #ffffff;border-bottom-left-radius:10px;border-bottom-right-radius:10px;overflow: hidden;'><button id='submit' class='btn-green' style='float: right' onclick='createDoc()'>Submit</button><button id='close' class='btn-white' style='margin-right: 10px; float: right;' onclick='removeCon()'>Close</button></div></div>";
        $('#create-doc').bind('click',function(){
            zfAlert(temp,'',600,530);
            $('.msg').addClass('on3');
        });
        for(var i = 0;$('.docs-preview').length;i ++){
            $(".docs-preview")[i].innerHTML = markdown.toHTML($(".docs-preview")[i].innerText);
        }
    });

    function createDoc(){
        var title = $('#title')[0].value;
        $.ajax({type:'POST',url:'/createDoc',dataType: "json",data:{
            title:title,
        },success: function (data) {
            if(data.state == 1){
                if(data.doc.md == undefined){
                    data.doc.md = "";
                }
                var insert = "<div class='docs-item'><h4>"+data.doc.title+"</h4><small>创建者："+data.doc.master+"</small><div class='docs-preview'>"+data.doc.md+"</div></div>";
                if($('.docs-item').length != 0){
                    $('.docs-item:first').before(insert);
                }else{
                    $('.docs-create').after(insert);
                }
                $('.docs-item:first').bind('click',function(){
                    doc(data.doc._id);
                });
                zfAlert.removeCon();
            }else if(data.state == -1){
                alert("共享文档创建失败！");
            }
        }});
    }
    function doc(id){
        window.location.href = "/doc?id="+id;
    }
</script>
</body>
</html>