<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" href="/img/favicon.png">
    <title>管理项目</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
<%=user.username%>

<h1>1234</h1>
<footer>
    <div>
        <p>© zhanfang 2015</p>
        <p>陕ICP备15014665号-1</p>
    </div>
</footer>
<script src="/js/zf/zf.js"></script>
<script src="/js/common.js"></script>
</body>
</html>