/*共享style*/

.btn-green {
  width: 7rem;
  color: rgba(255, 255, 255, 1);
  border-radius: 4px;
  background: RGBA(88, 185, 87, 1);
  border: 1px solid RGBA(72, 175, 70, 0.8);
  padding: 0.4rem 0.8rem;
}

.on {
  margin: -50px;
  opacity: 1;
}

/*共享style*/
html{
  font-size:16px;
}

//@media screen and (max-width: 800px) {
//  html{
//    font-size:12px;
//  }
//}
body {
  font-family: Helvetica, Tahoma, Arial, STXihei, " 华文细黑 ", "Microsoft YaHei", " 微软雅黑 ", sans-serif;
}

.nav {
  position: fixed;
  top: 25%;
  right: 2rem;
  z-index: 2;
  ul {
    list-style: none;
    li {
      width: 20px;
      a {
        display: block;
        border-radius: 50%;
        background: RGBA(84, 186, 82, 1);
        width: 10px;
        height: 10px;
        margin: 15px auto;
        transition: all 0.5s ease;
      }
      .on {
        width: 20px;
        height: 20px;
      }
    }
  }

}

.lab-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  max-height: 785px;
  overflow: hidden;
  background: url("../img/header-bg.jpg") no-repeat center;
  .title {
    text-align: center;
    z-index: 1;
    .logo {
      margin-top: -100px;
      height: 90px;
      width: 450px;
      transition: all 1.5s ease;
      opacity: 0;
    }
    .on {
      margin: 0;
      opacity: 1;
    }
    .on1 {
      margin-top: 1.5rem;
      opacity: 1!important;
    }
    .on2 {
      margin-top: 1.5rem;
      opacity: 1;
    }
    .logo1 {
      color: rgba(255, 255, 255, 0.7);
      font-size: 2rem;
      transition: all 1.5s ease;
      opacity: 0;
    }
    button {
      // margin-top: 2rem;
      .btn-green;
      transition: all 1.5s ease;
      opacity: 0;
      margin-top: 100px;
    }
    button:hover {
      background: RGBA(88, 185, 87, 0.8);
    }
    button:nth-of-type(1) {
      margin-right: 1rem;
    }
  }
}

.less-p{
  margin: 0;
  padding: 4rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: RGBA(68, 68, 68, 0.9);
}

.lab-detail {
  height: 500px;
  width: 100%;
  background: url("../img/pat.png") no-repeat center top;
  animation: myfirst 3s;
  .title {
    .less-p;
  }
  .detail {
    display: flex;
    width: 100%;
    text-align: center;
    div {
      flex: 1;
      img {
        border-radius: 10px;
        zoom: 0.9;
        box-shadow: 0 10px 20px RGBA(0, 0, 0, 0.5);
      }
    }
  }
}
.less-img{
  width: 100%;
  max-width: 720px;
  margin-left: -300px;
  transition: all 1.5s ease;
  opacity: 0;
}
.less-img-on{
  margin-left: 0;
  opacity: 1;
}
.less-h3{
  margin-left: 600px;
  transition: all 1.5s ease;
  opacity: 0;
}
.less-h3-on{
  margin-left: 0;
  opacity: 1;
}
.lab-detail1{
  padding-bottom: 20px;
  .title{
    .less-p;
  }
  .intro {
    margin: 0 auto;
    width: 720px;
    .item{
      border-top: 1px solid rgba(0,0,0,0.2);
      border-style: dashed none none none;
    }
    .h3-1{
      .less-h3;
    }
    .h3-on{
      .less-h3-on;
    }
    .img-1{
      .less-img;
    }
    .img-on{
      .less-img-on
    }
  }
  .fa-hand-o-right{
    margin-right: 10px;
    color: RGBA(0, 227, 133, 1);
  }
}
.lab-detail2{
  padding-bottom: 20px;
  background: RGBA(244, 244, 244, 1);
  .title{
    .less-p;
  }
  .intro {
    margin: 0 auto;
    width: 720px;
    .item{
      border-top: 1px solid rgba(0,0,0,0.2);
      border-style: dashed none none none;
    }
    .h3-2{
      .less-h3;
    }
    .h3-on{
      .less-h3-on;
    }
    .img-2{
      .less-img;
    }
    .img-on{
      .less-img-on
    }
  }
  .fa-hand-o-right{
    margin-right: 10px;
    color: RGBA(0, 227, 133, 1);
  }
}
.lab-detail3{
  padding-bottom: 20px;
  background: RGBA(247, 244, 237, 1);
  .title{
    .less-p;
  }
  .intro {
    margin: 0 auto;
    width: 720px;
    .item{
      border-top: 1px solid rgba(0,0,0,0.2);
      border-style: dashed none none none;
    }
    .h3-3{
      .less-h3;
    }
    .h3-on{
      .less-h3-on;
    }
    .img-3{
      .less-img;
    }
    .img-on{
      .less-img-on
    }
  }
  .fa-hand-o-right{
    margin-right: 10px;
    color: RGBA(0, 227, 133, 1);
  }
}

footer {
  width: 100%;
  margin-top: 2rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}



