/*共享style*/
.btn-green {
  width: 7rem;
  color: #ffffff;
  border-radius: 4px;
  background: #58b957;
  border: 1px solid rgba(72, 175, 70, 0.8);
  padding: 0.4rem 0.8rem;
}
.on {
  margin: -50px;
  opacity: 1;
}
/*共享style*/
html {
  font-size: 16px;
}
body {
  font-family: Helvetica, Tahoma, Arial, STXihei, " 华文细黑 ", "Microsoft YaHei", " 微软雅黑 ", sans-serif;
}
.nav {
  position: fixed;
  top: 25%;
  right: 2rem;
  z-index: 2;
}
.nav ul {
  list-style: none;
}
.nav ul li {
  width: 20px;
}
.nav ul li a {
  display: block;
  border-radius: 50%;
  background: #54ba52;
  width: 10px;
  height: 10px;
  margin: 15px auto;
  transition: all 0.5s ease;
}
.nav ul li .on {
  width: 20px;
  height: 20px;
}
.lab-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 785px;
  overflow: hidden;
  background: url("../img/header-bg.jpg") no-repeat center;
}
.lab-header .title {
  text-align: center;
  z-index: 1;
}
.lab-header .title .logo {
  margin-top: -100px;
  height: 90px;
  width: 450px;
  transition: all 1s linear;
  opacity: 0;
}
.lab-header .title .on {
  margin: 0;
  opacity: 1;
}
.lab-header .title .on1 {
  margin-top: 1.5rem;
  opacity: 1!important;
}
.lab-header .title .on2 {
  margin-top: 1.5rem;
  opacity: 1;
}
.lab-header .title .logo1 {
  color: rgba(255, 255, 255, 0.7);
  font-size: 2rem;
  transition: all 1s linear;
  opacity: 0;
}
.lab-header .title button {
  width: 7rem;
  color: #ffffff;
  border-radius: 4px;
  background: #58b957;
  border: 1px solid rgba(72, 175, 70, 0.8);
  padding: 0.4rem 0.8rem;
  transition: all 1s linear;
  opacity: 0;
  margin-top: 100px;
}
.lab-header .title button:hover {
  background: rgba(88, 185, 87, 0.8);
}
.lab-header .title button:nth-of-type(1) {
  margin-right: 1rem;
}
.less-p {
  margin: 0;
  padding: 4rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: rgba(68, 68, 68, 0.9);
}
.lab-detail {
  height: 500px;
  width: 100%;
  background: url("../img/pat.png") no-repeat center top;
  animation: myfirst 3s;
}
.lab-detail .title {
  margin: 0;
  padding: 4rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: rgba(68, 68, 68, 0.9);
}
.lab-detail .detail {
  display: flex;
  width: 100%;
  padding-top: 20px;
  text-align: center;
  transition: all 1.5s ease;
  opacity: 0;
}
.lab-detail .detail div {
  flex: 1;
}
.lab-detail .detail div img {
  border-radius: 10px;
  zoom: 0.9;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
.lab-detail .detail-on {
  opacity: 1;
}
.less-img {
  width: 100%;
  max-width: 720px;
  margin-left: -300px;
  transition: all 1.5s ease;
  opacity: 0;
}
.less-img-on {
  margin-left: 0;
  opacity: 1;
}
.less-h3 {
  margin-left: 600px;
  transition: all 1.5s ease;
  opacity: 0;
}
.less-h3-on {
  margin-left: 0;
  opacity: 1;
}
.lab-detail1 {
  padding-bottom: 20px;
}
.lab-detail1 .title {
  margin: 0;
  padding: 4rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: rgba(68, 68, 68, 0.9);
}
.lab-detail1 .intro {
  margin: 0 auto;
  width: 720px;
}
.lab-detail1 .intro .item {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-style: dashed none none none;
}
.lab-detail1 .intro .h3-1 {
  margin-left: 600px;
  transition: all 1.5s ease;
  opacity: 0;
}
.lab-detail1 .intro .h3-on {
  margin-left: 0;
  opacity: 1;
}
.lab-detail1 .intro .img-1 {
  width: 100%;
  max-width: 720px;
  margin-left: -300px;
  transition: all 1.5s ease;
  opacity: 0;
}
.lab-detail1 .intro .img-on {
  margin-left: 0;
  opacity: 1;
}
.lab-detail1 .fa-hand-o-right {
  margin-right: 10px;
  color: #00e385;
}
.lab-detail2 {
  padding-bottom: 20px;
  background: #f4f4f4;
}
.lab-detail2 .title {
  margin: 0;
  padding: 4rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: rgba(68, 68, 68, 0.9);
}
.lab-detail2 .intro {
  margin: 0 auto;
  width: 720px;
}
.lab-detail2 .intro .item {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-style: dashed none none none;
}
.lab-detail2 .intro .h3-2 {
  margin-left: 600px;
  transition: all 1.5s ease;
  opacity: 0;
}
.lab-detail2 .intro .h3-on {
  margin-left: 0;
  opacity: 1;
}
.lab-detail2 .intro .img-2 {
  width: 100%;
  max-width: 720px;
  margin-left: -300px;
  transition: all 1.5s ease;
  opacity: 0;
}
.lab-detail2 .intro .img-on {
  margin-left: 0;
  opacity: 1;
}
.lab-detail2 .fa-hand-o-right {
  margin-right: 10px;
  color: #00e385;
}
.lab-detail3 {
  padding-bottom: 20px;
  background: #f7f4ed;
}
.lab-detail3 .title {
  margin: 0;
  padding: 4rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  color: rgba(68, 68, 68, 0.9);
}
.lab-detail3 .intro {
  margin: 0 auto;
  width: 720px;
}
.lab-detail3 .intro .item {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-style: dashed none none none;
}
.lab-detail3 .intro .h3-3 {
  margin-left: 600px;
  transition: all 1.5s ease;
  opacity: 0;
}
.lab-detail3 .intro .h3-on {
  margin-left: 0;
  opacity: 1;
}
.lab-detail3 .intro .img-3 {
  width: 100%;
  max-width: 720px;
  margin-left: -300px;
  transition: all 1.5s ease;
  opacity: 0;
}
.lab-detail3 .intro .img-on {
  margin-left: 0;
  opacity: 1;
}
.lab-detail3 .fa-hand-o-right {
  margin-right: 10px;
  color: #00e385;
}
footer {
  width: 100%;
  margin-top: 2rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
