/*共享style*/
@keyframes myfirst {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.btn-green {
  width: 7rem;
  color: #ffffff;
  border-radius: 4px;
  background: #58b957;
  border: 1px solid rgba(72, 175, 70, 0.8);
  padding: 0.4rem 0.8rem;
}
.btn-white {
  width: 7rem;
  color: #000000;
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.4rem 0.8rem;
}
.on {
  margin: 0;
  opacity: 1;
}
/*共享style*/
body {
  font-size: 16px;
}
.nav {
  position: fixed;
  top: 25%;
  right: 2rem;
  z-index: 2;
}
.nav ul {
  list-style: none;
}
.nav ul li {
  width: 20px;
}
.nav ul li a {
  display: block;
  border-radius: 50%;
  background: #54ba52;
  width: 10px;
  height: 10px;
  margin: 15px auto;
  transition: all 1.5s ease;
}
.nav ul li .on {
  width: 20px;
  height: 20px;
}
.lab-head {
  position: relative;
  width: 100%;
  max-height: 536px;
  background: url("../img/header-bg.jpg") no-repeat center top;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.lab-head .lab-head-title {
  text-align: center;
  z-index: 1;
}
.lab-head .lab-head-title img {
  margin-top: -100px;
  height: 100px;
  width: 500px;
  transition: all 1.5s ease;
  opacity: 0;
}
.lab-head .lab-head-title .on {
  margin: 0;
  opacity: 1;
}
.lab-head .lab-head-title .on1 {
  margin-top: 2rem;
  opacity: 1;
}
.lab-head .lab-head-title .on2 {
  margin-top: 2rem;
  opacity: 1;
}
.lab-head .lab-head-title p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 2rem;
  transition: all 1.5s ease;
  opacity: 0;
  margin-top: 100px;
}
.lab-head .lab-head-title button {
  width: 7rem;
  color: #ffffff;
  border-radius: 4px;
  background: #58b957;
  border: 1px solid rgba(72, 175, 70, 0.8);
  padding: 0.4rem 0.8rem;
  transition: all 1.5s ease;
  opacity: 0;
  margin-top: 100px;
}
.lab-head .lab-head-title button:hover {
  background: rgba(88, 185, 87, 0.8);
}
.lab-head .lab-head-title button:nth-of-type(1) {
  margin-right: 1rem;
}
.lab-main {
  height: 500px;
  width: 100%;
  background: url("../img/pat.png") no-repeat center top;
  animation: myfirst 3s;
}
.lab-main p {
  padding: 4rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
}
.lab-main .lab-main-detail {
  display: flex;
  width: 100%;
  text-align: center;
}
.lab-main .lab-main-detail div {
  flex: 1;
}
.lab-main .lab-main-detail div img {
  border-radius: 10px;
  zoom: 0.9;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
footer {
  width: 100%;
  margin-top: 5rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
.msg {
  opacity: 0;
  margin-top: -100px;
  transition: all 0.5s ease;
}
.on3 {
  margin: 0;
  opacity: 1;
}
